diff --git a/include/circle/memorymap.h b/include/circle/memorymap.h
index e96f920..729a388 100644
--- a/include/circle/memorymap.h
+++ b/include/circle/memorymap.h
@@ -39,7 +39,8 @@

 #define PAGE_SIZE              4096                            // page size used by us

-#define KERNEL_STACK_SIZE      0x20000                         // all sizes must be a multiple of 16K
+#define KERNEL_STACK_SIZE      0x100000                        // 64 * 16K
+//#define KERNEL_STACK_SIZE    0x20000                         // all sizes must be a multiple of 16K
 #define EXCEPTION_STACK_SIZE   0x8000
 #define PAGE_TABLE1_SIZE       0x4000
 #define PAGE_RESERVE           (4 * MEGABYTE)
